.header {
    display: flex;
    align-items: center;
    padding: 24px 0 25px 0;
    border-bottom: #ececec solid 1px;

    
}
.lists-menu:not(:last-child) {
    margin-right: 50px;
}
.currentlink {
    position: relative;
    color: var(--logo-color);

&::after {
	position: absolute;
    top: 45px;
    left:0;
	content: '';
    height: 4px;
    width: 100%;
    background-color: var(--logo-color);
    border-radius: 2px;
    transition: background-color 250ms var(--time-cubic);
    }
}

.mobile-list {
    list-style-type: none ;
    padding: 0;
    margin-top: 302px;
}

.envelope-center-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}
.envelope-center-mail {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 32px;
    color: #757575;
}
.header-lists {
    white-space: nowrap;
}
.header-lists-mobile {
    margin-bottom: 32px;
}

.header-lists:not(:last-child) {
    margin-right: 30px;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-container {
    position: relative;
    display:flex;
    align-items: center;

}
.header-nav-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 0;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo-color-web {
    color: var(--logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 0;
    padding-right: 0;
    letter-spacing: 0.03em;
}
.logo-color-top {
    color: black;
    font-size: 26px;
}
.logo-color-dwn {
    color: white;
    font-size: 26px;
}
.header-nav-menu {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: var(--line-height-normal);
    letter-spacing: 0.03em;
    padding: 0;
}

.envelope-center {
    display: flex;
    align-items: center;
}
.header-mail {
    display: flex;
    color: var(--text-grey);
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: var(--line-height-normal);
    letter-spacing: 0.02em;
    padding-right: 0;
    margin-left: auto;
}

.envelope-wrap {
    display: flex;
}
.link-envelope {
    align-items: center;
    margin-right: 10px;
    fill: var(--text-grey);
}

@media screen and (max-width: 768px) {
    .header-lists:not(:last-child) {
        margin-bottom: 10px;
        margin-right: 15px;
    }
    .header-mail {
        display: block;
        margin-left: 84px;
    }
}
@media screen and (max-width: 480px) {
    .header-container {
        position: relative;
        display:flex;
        justify-content: space-between;
        
    }
    .header-nav {
    display: flex;
    justify-content: space-between;

    }
    .currentlink::after {
        display: none;
    }
    .burger {
        position: absolute;
        left: 87%;
    
    &:hover,
    &:focus {
        fill: var(--logo-color);
        }
    }
  }
    .link-mobile {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        margin-bottom: 32px;
        text-decoration: none;
        display: block;
        color: inherit;
        &:hover,
        &:focus {
            color: var(--logo-color);
        }
    }
    .header-container {
        position: relative;
        display:flex;
        justify-content: space-between;
        }

@media screen and (max-width: 480px) {
    .header-nav-menu {
        display: none;
    }
    .header-mail {
        display: none;
    }
    .social-mobile {
        display: flex;
        padding: 0;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .header-nav-logo {
        margin-right: 88px;
    }
}

@media screen and (min-width: 480px) {

    .social-mobile {
        display: flex;
        padding: 0;
    }
}
@media screen and (min-width: 481px) {
    .burger {
        display:none;
    }
}


    .social-mobile-anchor {
        text-decoration: none;
        color: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        &:hover,
        &:focus {
            color: var(--logo-color);
        }
    }
    .social-mobile-list {
        &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            padding-right: 10px;
        }
    }
        .social-mobile-list {
            &:not(:first-child) {
                padding-left: 10px;
            }
        }

@media screen and (min-width: 481px) {
    .burger {
        display:none;
    }
}