.quality  {
    padding: 694px 0 47px 0;
}
.quality-lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.quality-img-box {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 4) / 4);
}
.quality-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.quality-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.quality-img { 
    top: 50%;
    left: 50%;
    justify-content: center;
}
.quality-text-wrapper {
    display: block;
}
.quality-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.quality-text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-grey);
}

@media screen and (max-width: 1200px) {
    .quality  {
        padding: 694px 0 47px 0;
    }
}
@media screen and (min-width: 1201px) {
    .quality  {
        position: static;
        padding: 94px 0 47px 0;
    }
}
@media screen and (max-width: 768px) {
    .quality-img-box {

        flex-basis: calc((100% - 30px * 2) / 2);
    }
    .quality  {
        padding: 540px 0 47px 0;
    }
    .quality-subtitle {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .quality {
        display: block;
    }

    .quality-lists {
        display: block;
    }
    .quality-subtitle {
        text-align: center;
    }
}